* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #f8f8f8;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    background: #ddd;
    padding: 10px;
    text-align: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ff5722;
}

/* Contact Form */
#contact {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px;
    background: orangered;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: black;
}

/* Footer */
footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-links a{
    color: white;
    text-decoration: none;
    
}
footer nav ul li:hover{
text-decoration: underline;
text-decoration-color: #ff5722;
text-underline-offset: 7px;
}
footer #terms_condition p a{
    text-decoration: none;
}
footer #terms_condition p a{
    color: white;
}
.brand a{
    color: black;
    text-decoration: none;
}
/* mobileDevices */
@media screen and (max-width: 555px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    #contact {
        width: 95%;
    }

    form {
        max-width: 100%;
    }

    footer {
        padding: 10px;
    }

    footer nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
/* tablet&ipad */
@media screen and (min-width: 768px) and (max-width: 991px) {
    nav ul {
        justify-content: center;
    }

    #contact {
        width: 75%;
    }

    footer {
        justify-content: space-evenly;
        padding: 30px;
    }

    footer nav ul {
        display: flex;
        justify-content: center;
    }
}
/* laptop&largerDevices */
@media screen and (min-width: 992px) {
    header {
        padding: 30px;
    }

    nav ul {
        justify-content: space-evenly;
        padding: 10px 40px;
    }

    #contact {
        width: 60%;
    }

    form {
        max-width: 450px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    footer nav ul {
        display: flex;
        gap: 25px;
    }
}